[submodule "VM-automatic-deploy"]
	path = VM-automatic-deploy
	url = git@github.com:laperss/VM-automatic-deploy.git
[submodule "CloudVideo"]
	path = CloudVideo
	url = https://github.com/hcarlsso/CloudVideo.git
